*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: #efadce;
    /* background-image: url("./assets/background.png");
    background-repeat: repeat-y; */
}
.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    letter-spacing: 2px;
    padding-top: 15px;
    color: #d63384;
}
.invitation_container{
    display: grid;
    place-content: center;
    vertical-align: middle;
}
.btn-show{
    display: grid;
    place-content: center;
    font-size: 2rem;
}
.btn-show a{
    text-decoration: none;
    background-color: #d63384;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}