*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main-container{
    width: 100%;
    height: 100%;
    background-color: #ffd2d2;
    background-image: url("./assets/background.png");
    background-repeat: repeat-y;
}
.image-elefante{
    display: flex;
    justify-content: center;
}
.image-elefante img{
    width: 200px;
    height: 230px;
}
.data-container{
    text-align: center;
    line-height: 2rem;
}
.data-container p:nth-child(1){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(3){
    font-family: 'Lobster', cursive;
    font-size: 5.1rem;
    color: #ffbcbc;
}
.data-container p:nth-child(5){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(7){
    font-family: 'Lobster', cursive;
    font-size: 5.1rem;
    color: #ffbcbc;
}
.data-container p:nth-child(9){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(11){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(13){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(14){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: .6;
}
.data-container p:nth-child(16){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(18){
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .6;
}
.data-container p:nth-child(19){
    padding: 5px;
    text-align: right;
}
.data-container p:nth-child(19) span{
    padding: 5px;
}
.liston-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 40px;
    position: absolute;
    bottom: -280px;
}
.liston-container hr{
    width: 100%;
    border-top: 5px dotted gray;
}
.liston-item{
    width: 100%;
    height: 35px;
    background-color: #9c9c9c;
}
.name{
    margin-top: 5px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}
.phrase-container{
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 260px;
    height: 260px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 1.7rem;
    font-family: 'Pacifico', cursive;
}
.phrase-container .phrase-container_text{
    align-self: center;
    text-align: center;
}